<!-- html/navbar.html -->
<nav class="tech-navbar">
    <button class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="nav-logo">
        <img src="/resources/Images/Logos/CMS_white.png" alt="CMS Logo">
        <span id="dynamic-title">CODE MAKE SOFT</span>
    </div>
    <div class="nav-links" id="navLinks">
        <a href="/index.html" class="nav-link"><i class="fas fa-home"></i> Inicio</a>
        <a href="/html/about-us.html" class="nav-link"><i class="fas fa-users"></i> Nosotros</a>
        <a href="/html/attune.html" class="nav-link">
            <img src="/resources/Images/Logos/attune_white.png" alt="Diccionario" style="width: 20px; height: 20px; vertical-align: middle;">
            Attune
        </a>
        <!-- <a href="/html/manual.html" class="nav-link"><i class="fas fa-scroll"></i> Manual</a> -->
        <a href="mailto:codemakesoft@gmail.com" class="nav-link" target="_blank">
            <i class="fas fa-question-circle"></i> Soporte
        </a>
    </div>
</nav>